@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<div data-role="fieldcontain">
    <p><a href="http://finbrein.blogspot.com/">MobileBlog</a></p>
    <p>Created by: <a href="http://twitter.com/#!/finbrein">Michael Aro</a></p>
    <p>Powered by: <a href="http://jquerymobile.com">JQuery Mobile</a></p>
</div>