@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
 
<ul data-role="listview">
    <li>
        @Html.ActionLink("Create New Post", "Create")
    </li>
    <li>
        @Html.ActionLink("Read Blog", "Read")
    </li>
    <li>
        @Html.ActionLink("About MobileBlog", "About")
    </li>
</ul>